<div class="container">
    <form method="POST" action="?page=adaugaDetalii">
        <div class="mb-3">
          <label for="detalii" class="form-label">Info sortiment</label>
          <input type="text" class="form-control" id="detalii" name="detalii" style="height: 100px;">
        </div>
        <div class="mb-3">
          <label for="detaliiPrajire" class="form-label">Instructiuni prajire</label>
          <input type="text" class="form-control" id="detaliiPrajire" name="detaliiPrajire" style="height: 100px">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>