

<div class="container">
  <h2 class="text-center">Indicatii prajire</h2>
  <p>{{detaliiPrajire}}</p>
</div>


<div class="container w-50 py-5">
  {{linkForm}}
    <div class="form-group">
      <label for="cantitateVerde">Cantitate verde</label>
      <input type="number" class="form-control" name="cantitateVerde" placeholder="Cantitate de cafea verde pusa la prajit">
    </div>
    <div class="form-group">
      <label for="cantitatePrajita">Cantitate prajita</label>
      <input type="number" class="form-control" name="cantitatePrajita" placeholder="Cantitate de cafea prajita">
    </div>
    <div class="form-group">
      <label for="temperaturaIntrare">Temperatura Intrare</label>
      <input type="number" class="form-control" name="temperaturaIntrare">
    </div>
    <div class="form-group">
      <label for="temperaturaIesire">Temperatura Iesire</label>
      <input type="number" class="form-control" name="temperaturaIesire">
    </div>
    <div class="form-group">
      <label for="note">Note prajire</label>
      <input type="text" class="form-control" name="note">
    </div>
    <div class="form-group">
      <label for="temperaturaIesire">Durata prajire</label>
      <input type="number" class="form-control" name="durataPrajire">
    </div>
    <button type="submit" class="btn btn-primary my-3">Submit</button>
  </form>
</div>

{{mainContent}}