<div class="container">
    <h2 class="text-center my-5">Prajeli</h2>

<table class='table table-hover'>
    <thead>
    <tr>
      <th scope='col'>Nume Sortiment</th>
      <th scope='col'>Cantitate verde</th>
      <th scope='col'>Cantitate prajita</th>
      <th scope='col'>Nume prajitor</th>  
      <th scope='col'>Note</th>
      <th scope='col'>Temperatura intrare</th>
      <th scope='col'>Temperatura iesire</th>
      <th scope='col'>Durata</th>
      <th scope='col'>Data prajelii</th>
    </tr>
  </thead><tbody><tr>
  {{prajeli}}
  </tbody></table>

</div>